@media all and (max-width: 640px) {
  #shoppingCart{
    height: 300px;
    width: 20px;
    position: fixed;
    z-index: 9999;
    display: none;
  }
  #cartItemsContainer {
    position: relative;
    width: 600px;
    left: 50%;
    top: 150px;
    margin-left: -300px;
    padding: 40px;
    box-shadow: 0 0 10px black;
    background: #e9e9e9;
    overflow: auto;
  }
  #shoppingCart h2 {
    font-size: 15px;
    text-align: right;
    margin-right: 60px;
  }
 #cartItemsContainer p {
    font-size: 9px;
    text-align: right;
    bottom: 0;
  }
}
@media all and (min-width: 640px) {
  #shoppingCart {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
  }
  #cartItemsContainer {
    position: relative;
    width: 600px;
    left: 50%;
    top: 150px;
    margin-left: -300px;
    padding: 40px;
    box-shadow: 0 0 10px black;
    background: #e9e9e9;
    overflow: auto;
  }
}

/* General */

.container-fluid{
  padding: 0;
}
.navbar{
  position: fixed;
}
.card {
  height: 100%;
}
#size {
  height: 700px;
  padding: 10%;
}
section {
  margin-top: 100px;
}

/* Panier */

.removeItem {
  margin-left: 40px;
}

.price-container {
  margin-top: 20px;
}

/* Logo panier d'achat */

#cart-container {
  margin-top: 1%;
  float: right;
  width: 50px;
  position: relative;
  height: 50px;
}
#itemCount {
  position: absolute;
  display: none;
  top: -10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}
/* Fenêtre modale */

#shoppingCart {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
}
#cartItemsContainer {
  position: relative;
  width: 600px;
  left: 50%;
  top: 150px;
  margin-left: -300px;
  padding: 40px;
  box-shadow: 0 0 10px black;
  background: #e9e9e9;
  overflow: auto;
}

#cartItemsContainer img {
  height: 300px;
}

#cartItemsContainer i {
  position: absolute;
  top: 20px;
  right: 20px;
}

#cartItemsContainer .itemDetails {
  overflow: auto;
  width: 100%;
  margin-bottom: 40px;
}

#cartItemsContainer .itemImage {
  float: left;
  width: 260px;
  padding: 0 40px;
}

#cartItemsContainer .itemText {
  float: right;
  width: 260px;
  padding: 0 40px;
}

#cartItemsContainer .itemText .price-container {
  margin-top: 0;
}
